<ngx-smart-modal #addCarModal identifier="addCarModal" (onOpen)="onOpen()">
    <div>
        <h1>Добавить машину</h1>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">
                    <div class="label">Название машины</div>
                </span>
            </div>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
    </div>
    <button (click)="addCategory()">Добавить категорию авто</button>
</ngx-smart-modal>
<app-car-category-add></app-car-category-add>