<ngx-smart-modal #clientAddModal identifier="clientAddModal" (onOpen)="onOpen()">
  <div>
    <h1>Добавить</h1>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">
          <div class="label">Клиент</div>
        </span>
      </div>
      <input type="text" class="form-control" value="ИП СтройДом" aria-label="Small"
        aria-describedby="inputGroup-sizing-sm">
    </div>

    <div class="border1 mt-2">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">
            <div class="label">Адрес доставки</div>
          </span>
        </div>
        <input type="text" value="Агалакова 188" class="form-control" aria-label="Small"
          aria-describedby="inputGroup-sizing-sm">
      </div>
      <div class="border1 mb-2">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">
              <div class="label">Контактное лицо</div>
            </span>
          </div>
          <input value="Иванов А.Г" type="text" class="form-control" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class=" input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">
              <div class="label">Средство связи</div>
            </span>
          </div>
          <input value="telegram: 8902298388" type="text" class="form-control" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm">
        </div>

        <button>Добавить контактное лицо</button>
      </div>
    </div>
    <div class="border1 mt-2">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">
            <div class="label">Адрес доставки</div>
          </span>
        </div>
        <input value="Ереванская 34" type="text" class="form-control" aria-label="Small"
          aria-describedby="inputGroup-sizing-sm">
      </div>
      <div class="border1 mb-2">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">
              <div class="label">Контактное лицо</div>
            </span>
          </div>
          <input value="Евдокимов А.З" type="text" class="form-control" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class=" input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">
              <div class="label">Средство связи</div>
            </span>
          </div>
          <input value="смс:23456789" type="text" class="form-control" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm">
        </div>
      </div>
      <div class="border1 mb-2">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">
              <div class="label">Контактное лицо</div>
            </span>
          </div>
          <input value="Пупкин Роман" type="text" class="form-control" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class=" input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">
              <div class="label">Средство связи</div>
            </span>
          </div>
          <input value="email: kjhh@mail.ru" type="text" class="form-control" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm">
        </div>
      </div>
      <button>Добавить контактное лицо</button>
    </div>
    <button class="mt-2">Добавить еще адрес</button>
  </div>
  <button class="mt-2">Сохранить клиента</button>
</ngx-smart-modal>