<ngx-smart-modal #orderAddModal identifier="orderAddModal" (onOpen)="onOpen()">
    <div>
        <h1>Редактор</h1>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">
                    <div class="label">Клиент</div>
                </span>
            </div>
            <select 
                class="form-control" 
                id="exampleFormControlSelect1" 
                [(ngModel)]="request.client"
                [compareWith]="byId"
            >
                <option [ngValue]="undefined"></option>
                <option *ngFor="let client of clients" [ngValue]="client">{{client.name}}</option>
            </select>
            <i (click)="addClient()" class="ml-2 fa fa-plus" aria-hidden="true"></i>
        </div>

        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">
                    <div class="label">Адрес доставки</div>
                </span>
            </div>

            <select 
                [disabled]="!request.client" 
                class="form-control" 
                [(ngModel)]="request.deliveryAddress"
                id="exampleFormControlSelect1"
            >
                <option *ngFor="let address of request.client?.addresses" [ngValue]="address">{{address.name}}</option>
            </select>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="request.isLong">
            <label class="form-check-label" for="exampleCheck1">Долгосрочная заявка</label>
        </div>

        <div *ngIf="request.isLong" class=" input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">
                    <div class="label">Дата с</div>
                </span>
            </div>

            <input type="date" name="bday" [ngModel]="request.deliveryStart | date:'yyyy-MM-dd'"
                (ngModelChange)="request.deliveryStart = $event" min="1000-01-01" max="3000-12-31" class="">
        </div>

        <div *ngIf="request.isLong" class=" input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">
                    <div class="label">Дата по</div>
                </span>
            </div>
            <input type="date" name="bday" [ngModel]="request.deliveryEnd | date:'yyyy-MM-dd'"
                (ngModelChange)="request.deliveryEnd = $event" min="1000-01-01" max="3000-12-31" class="">
        </div>
        <div class=" input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">
                    <div class="label">Объем, тн</div>
                </span>
            </div>
            <input type="number" [(ngModel)]="request.amount" class="form-control" aria-label="Small"
                aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class=" input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">
                    <div class="label">Цена продажи</div>
                </span>
            </div>
            <input type="number" [(ngModel)]="request.sellingPrice" class="form-control" aria-label="Small"
                aria-describedby="inputGroup-sizing-sm">
        </div>


        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">
                    <div class="label">Товар</div>
                </span>
            </div>
            <select class="form-control" [(ngModel)]="request.product"
                (ngModelChange)="onProductChange(request.product?.id)" id="exampleFormControlSelect1">
                <option [ngValue]="undefined"></option>
                <option *ngFor="let product of products" [ngValue]="product">{{product.name}}</option>
            </select>
        </div>

        <div *ngIf="!request.isLong" class="req mt-2">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">
                        <div class="label">Поставщик</div>
                    </span>
                </div>
                <select class="form-control" [(ngModel)]="request.supplier" id="exampleFormControlSelect1"
                    (ngModelChange)="onSupplierChange()">
                    <option [ngValue]="undefined"></option>
                    <option *ngFor="let supplier of suppliers" [ngValue]="supplier">{{supplier.name}}</option>
                </select>
                <i (click)="addSupplier()" class="ml-2 fa fa-plus" aria-hidden="true"></i>
            </div>

            <div class="form-check">
                <input disabled type="checkbox" [ngModel]="request.supplierVat" id="supplierVat"
                    class="form-check-input">
                <label class="form-check-label" for="supplierVat">Поставщик без НДС</label>
            </div>

            <div class=" input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">
                        <div class="label">Цена закупки</div>
                    </span>
                </div>
                <input disabled type="number" [ngModel]="request.purchasePrice" class="form-control" aria-label="Small"
                    aria-describedby="inputGroup-sizing-sm">
            </div>

            <div class=" input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">
                        <div class="label">Перевозчик</div>
                    </span>
                </div>
                <select class="form-control" [(ngModel)]="request.car" (change)="onCarChange()">
                    <option [ngValue]="undefined"></option>
                    <option *ngFor="let car of cars" [ngValue]="car">{{car.owner}}</option>
                </select>
            </div>

            <div class="form-check">
                <input disabled type="checkbox" [ngModel]="request.carVat" class="form-check-input" id="">
                <label class="form-check-label" for="exampleCheck1">Перевозка НДС включен</label>
            </div>

            <div class=" input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">
                        <div class="label">Еденицы измерения</div>
                    </span>
                </div>
                <input disabled type="text" class="form-control" aria-label="Small" [(ngModel)]="request.unit"
                    aria-describedby="inputGroup-sizing-sm">
            </div>

            <div class=" input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">
                        <div class="label">Цена перевозки за ед.</div>
                    </span>
                </div>
                <input disabled type="number" class="form-control" [ngModel]="request.freightPrice" aria-label="Small"
                    aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="mb-2">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">
                            <div class="label">Категория машины</div>
                        </span>
                    </div>

                    <select disabled class="form-control" [ngModel]="request.car?.carCategory?.id"
                        id="exampleFormControlSelect1">
                        <option *ngFor="let carCategory of carCategories" [ngValue]="carCategory.id">
                            {{carCategory.name}}
                        </option>
                    </select>
                </div>
            </div>

        </div>
        <div *ngIf="!request.isLong" class="req mt-2">
            <div class=" input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">
                        <div class="label">Вход, тн</div>
                    </span>
                </div>
                <input type="number" class="form-control" [(ngModel)]="request.amountIn" aria-label="Small"
                    aria-describedby="inputGroup-sizing-sm">
            </div>

            <div class=" input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">
                        <div class="label">Выход, тн</div>
                    </span>
                </div>
                <input type="number" class="form-control" [(ngModel)]="request.amountOut" aria-label="Small"
                    aria-describedby="inputGroup-sizing-sm">
            </div>

            <div class=" input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">
                        <div class="label">Стоимость перевозки</div>
                    </span>
                </div>
                <input disabled type="number" class="form-control" aria-label="Small" [ngModel]="request.freightCost"
                    aria-describedby="inputGroup-sizing-sm">
            </div>


            <div class=" input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">
                        <div class="label">Доход</div>
                    </span>
                </div>
                <input disabled type="number" class="form-control" aria-label="Small" [ngModel]="request.sellingCost"
                    aria-describedby="inputGroup-sizing-sm">
            </div>

            <div class=" input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">
                        <div class="label">Прибыль</div>
                    </span>
                </div>
                <input type="number" class="form-control" aria-label="Small" [(ngModel)]="request.profit"
                    aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>

        <div class="mt-2 input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">
                    <div class="label">Вознаграждение</div>
                </span>
            </div>
            <input type="number" class="form-control" aria-label="Small" [(ngModel)]="request.reward"
                aria-describedby="inputGroup-sizing-sm">
        </div>

        <div class=" input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">
                    <div class="label">Комментарий</div>
                </span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="request.comment" aria-label="Small"
                aria-describedby="inputGroup-sizing-sm">
        </div>

    </div>
    <button (click)="createOrUpdate(request)" class="mt-2">Создать</button>
</ngx-smart-modal>
<app-client-editor (changed)="onClientAdd()"></app-client-editor>
<app-supplier-editor (changed)="onSupplierAdd()"></app-supplier-editor>