.export-order {
  margin-bottom: 12px;
  position: relative;
}
.export-order__button {
  margin-right: 20px;
  margin-bottom: 12px;
}
.longTerm-order,
.orders-block {
  overflow-x: scroll;
}

.additional-rows {
  margin-bottom: 12px;
}
.all-rows {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.hidden-columns {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.all-rows__label {
  margin-bottom: 0;
}
.hidden-column-block {
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.hidden-column-block__label {
  margin-bottom: 0;
}
.hide-column-btn {
  width: 100%;
  height: 36px;
  border: none;
  background: transparent;
  color: #fff;
  font-weight: 700;
}
.finish-order {
  background-color: #fff;
  border: 1px solid var(--light-gray);
}
.finish-order__icon {
  width: 24px;
}

@media (max-width: 375px) {
  .refresh-btn {
    margin-left: 10px;
  }
  .refresh-btn__icon {
    width: 28px;
    height: 28px;
  }
}

.requestContextMenu {
  background-color: #fafafa;
  padding: 8px;
  z-index: 1000;
  box-shadow: 0 0 12pt rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  animation: fadeIn 0.1s ease-out;
  display: block;
  position: absolute;
  list-style-type: none;
}
.requestContextMenu__btn {
  display: flex;
  align-items: center;
  padding: 7px;
  background-color: transparent;
  border: none;
  width: 178px;
  text-align: left;
  transition: 0.4s;
  border-radius: 6px;
}
.delete-btn__img,
.edit-btn__img {
  margin-right: 12px;
}
.requestContextMenu__btn:hover {
  opacity: 1;
  transition: 0.4s;
  box-shadow: 0 0 12pt rgba(0, 0, 0, 0.25);
}

/* Animatinons */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.is-fadingIn {
  -webkit-animation: fadeIn 0.1s ease-out;
  animation: fadeIn 0.1s ease-out;
  opacity: 1;
  display: block;
}

.is-fadingOut {
  -webkit-animation: fadeOut 0.1s ease-out;
  animation: fadeOut 0.1s ease-out;
  opacity: 0;
  display: block;
}

.status-box {
  display: flex;
  justify-content: center;
}

.status-box__btn {
  width: 30px;
  height: 20px;
  background: #fff;
  border: 1px solid var(--light-gray);
}

.status-box__btn:not(:first-child) {
  border-left: none;
}

.status-box__btn:nth-child(1):hover,
.status-box__btn.status-box__btn--onWork:nth-child(1):hover,
.status-box__btn.status-box__btn--onWay:nth-child(1):hover,
.status-box__btn.status-box__btn--executed:nth-child(1):hover,
.status-box__btn.status-box__btn--new:nth-child(1) {
  background-color: #9c9c9c;
  transition: 0.3s;
}
.status-box__btn:nth-child(2):hover,
.status-box__btn.status-box__btn--onWork:nth-child(1),
.status-box__btn.status-box__btn--onWay:nth-child(2):hover,
.status-box__btn.status-box__btn--executed:nth-child(2):hover,
.status-box__btn.status-box__btn--onWork:nth-child(2) {
  background-color: #0099ff;
  transition: 0.3s;
}
.status-box__btn:nth-child(3):hover,
.status-box__btn.status-box__btn--onWay:nth-child(1),
.status-box__btn.status-box__btn--onWay:nth-child(2),
.status-box__btn.status-box__btn--executed:nth-child(3):hover,
.status-box__btn.status-box__btn--onWay:nth-child(3) {
  background-color: var(--red);
  transition: 0.3s;
}
.status-box__btn:nth-child(4):hover,
.status-box__btn.status-box__btn--executed:nth-child(1),
.status-box__btn.status-box__btn--executed:nth-child(2),
.status-box__btn.status-box__btn--executed:nth-child(3),
.status-box__btn.status-box__btn--executed:nth-child(4) {
  background-color: #00cc33;
  transition: 0.3s;
}

.status-box__title {
  display: block;
  width: 100%;
}
.app-table__tr {
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-preview .app-table__td {
  border: none;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.app-table__tr:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.all-field-block {
  display: flex;
  align-items: center;
}
.all-field-block__input {
  width: 27px;
}
.all-field-block__label {
  margin-bottom: 0;
}
.app-btn.app-btn--toggle{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
}

@media(max-width: 992px) {
  .export-order__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .app-container-fluid {
    padding: 24px 0;
    padding-bottom: 36px;
  }
}

@media (max-width: 520px) {
  .all-field-block__label {
    margin-right: 40px;
  }
}