<div class="app-container-fluid">
  <div
    class="half-container half-container--left-part"
    [class.half-container--full]="!complitedRequestsIsVisible"
  >
    <div class="export-order">
      <div class="export-order__buttons">
        <button (click)="add()" class="app-btn gray-btn">Добавить</button>
        <div class="all-field-block" *ngIf="isMobile">
          <label for="isAllFieldsVisibleCheckbox" class="all-field-block__label">Все поля</label>
          <input
            class="all-field-block__input form-block__input"
            type="checkbox"
            name="isAllFieldsVisibleCheckbox"
            id="isAllFieldsVisibleCheckbox"
            [(ngModel)]="isAllFieldsVisible"
          >
        </div>
      </div>
    </div>
    <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScrollActualRequests()"
      [scrollWindow]="false"
      cdkDropListGroup
    >
      <div
        class="orders-block"
        *ngIf="incidentRequests.length || longTermRequests.length"
      >
        <h2 class="block-title">Долгосроки и форс-мажоры</h2>
        <div>
          <table
            class="app-table"
            cdkDropList
            id="incident"
            [cdkDropListData]="incidentRequests"
            (cdkDropListDropped)="drop($event)"
          >
            <thead>
              <tr class="app-table__tr">
                <th class="app-table__th"></th>
                <th class="app-table__th">Клиент</th>
                <th class="app-table__th" *ngIf="isAllFieldsVisible">Товар</th>
                <th class="app-table__th" *ngIf="isAllFieldsVisible">Поставщик</th>
                <th class="app-table__th">Перевозчик</th>
                <th class="app-table__th">Объем, тн</th>
                <th class="app-table__th" *ngIf="isAllFieldsVisible">Адрес доставки</th>
                <th class="app-table__th">Статус</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="app-table__tr app-table__tr--editable app-table__tr--dangerous"
                (contextmenu)="
                  openContextMenu($event, req); $event.preventDefault()
                "
                *ngFor="let req of incidentRequests"
                cdkDrag
                [cdkDragDisabled]="isMobile"
                [cdkDragData]="req"
                [class.app-table__tr--dragged]="lastDraggedReqId === req.id"
              >
                <td class="app-table__td">
                  <button
                    title="Добавить заявку"
                    class="finish-order"
                    (click)="divideAmount(req)"
                  >
                    <img
                      class="finish-order__icon"
                      src="assets/img/icons/truck.svg"
                      alt="Добавить заявку"
                    />
                  </button>
                </td>
                <td (click)="edit(req)" class="app-table__td">
                  {{ req.client?.name }}
                </td>
                <td (click)="edit(req)" class="app-table__td" *ngIf="isAllFieldsVisible">
                  {{ req.product?.name }}
                </td>
                <td (click)="edit(req)" class="app-table__td" *ngIf="isAllFieldsVisible">
                  {{ req.supplier?.name }}
                </td>
                <td (click)="edit(req)" class="app-table__td">
                  {{ req.car?.owner }}
                </td>
                <td (click)="edit(req)" class="app-table__td">
                  {{ req.amount | number: '1.0-2' }}
                </td>
                <td (click)="edit(req)" class="app-table__td" *ngIf="isAllFieldsVisible">
                  {{ req.deliveryAddress?.name }}
                </td>
                <td class="app-table__td">
                  Форс-мажор<br />
                  {{ req.deliveryStart | date: 'dd.MM.yyyy' }}
                </td>
              </tr>
              <tr
                class="app-table__tr app-table__tr--editable"
                (contextmenu)="
                  openContextMenu($event, req); $event.preventDefault()
                "
                *ngFor="let req of longTermRequests"
              >
                <td class="app-table__td">
                  <button
                    title="Добавить заявку"
                    class="finish-order"
                    (click)="divideAmount(req)"
                  >
                    <img
                      class="finish-order__icon"
                      src="assets/img/icons/truck.svg"
                      alt="Добавить заявку"
                    />
                  </button>
                </td>
                <td (click)="edit(req)" class="app-table__td">
                  {{ req.client?.name }}
                </td>
                <td (click)="edit(req)" class="app-table__td" *ngIf="isAllFieldsVisible">
                  {{ req.product?.name }}
                </td>
                <td (click)="edit(req)" class="app-table__td" *ngIf="isAllFieldsVisible">
                  {{ req.supplier?.name }}
                </td>
                <td (click)="edit(req)" class="app-table__td">
                  {{ req.car?.owner }}
                </td>
                <td (click)="edit(req)" class="app-table__td">
                  {{ req.amount | number: '1.0-2' }}
                </td>
                <td (click)="edit(req)" class="app-table__td" *ngIf="isAllFieldsVisible">
                  {{ req.deliveryAddress?.name }}
                </td>
                <td class="app-table__td">
                  Долгосрок <br />{{
                    req.deliveryStart | date: 'dd.MM.yyyy'
                  }}-{{ req.deliveryEnd | date: 'dd.MM.yyyy' }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <h2 class="block-title">Актуальные</h2>
      <div class="orders-block">
        <table
          class="app-table"
          cdkDropList
          id="actual"
          [cdkDropListData]="actualRequests"
          (cdkDropListDropped)="drop($event)"
        >
          <thead>
            <tr class="app-table__tr">
              <th class="app-table__th"></th>
              <th class="app-table__th">Клиент</th>
              <th class="app-table__th" *ngIf="isAllFieldsVisible">Товар</th>
              <th class="app-table__th" *ngIf="isAllFieldsVisible">Поставщик</th>
              <th class="app-table__th">Перевозчик</th>
              <th class="app-table__th">Объем, тн</th>
              <th class="app-table__th" *ngIf="isAllFieldsVisible">Адрес доставки</th>
              <th class="app-table__th">Статус</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let req of actualRequests; let i = index">
              <tr
                class="app-table__tr"
                *ngIf="
                  i == 0 ||
                  req.deliveryStart != actualRequests[i - 1].deliveryStart
                "
              >
                <td align="center" colspan="8">
                  <strong> {{ req.deliveryStart | date: 'dd.MM.yyyy' }}</strong>
                </td>
              </tr>
              <tr
                class="app-table__tr app-table__tr--editable"
                (contextmenu)="
                  openContextMenu($event, req); $event.preventDefault()
                "
                cdkDrag
                [cdkDragDisabled]="isMobile"
                [cdkDragData]="req"
                [class.app-table__tr--dragged]="lastDraggedReqId === req.id"
              >
                <td class="app-table__td">
                  <button
                    title="Разделить объем"
                    class="finish-order"
                    (click)="divideAmount(req)"
                  >
                    <img
                      class="finish-order__icon"
                      src="assets/img/icons/truck.svg"
                      alt="Разделить объем"
                    />
                  </button>
                </td>
                <td (click)="edit(req)" class="app-table__td">
                  {{ req.client?.name }}
                </td>
                <td (click)="edit(req)" class="app-table__td" *ngIf="isAllFieldsVisible">
                  {{ req.product?.name }}
                </td>
                <td (click)="edit(req)" class="app-table__td" *ngIf="isAllFieldsVisible">
                  {{ req.supplier?.name }}
                </td>
                <td (click)="edit(req)" class="app-table__td">
                  {{ req.car?.owner }}
                </td>
                <td (click)="edit(req)" class="app-table__td">
                  {{ req.amount | number: '1.0-2' }}
                </td>
                <td (click)="edit(req)" class="app-table__td" *ngIf="isAllFieldsVisible">
                  {{ req.deliveryAddress?.name }}
                </td>
                <td class="app-table__td">
                  <div class="status-box">
                    <button
                      class="status-box__btn"
                      *ngFor="let status of statuses"
                      (click)="onActualRequestStatusChange(req, status.id)"
                      [title]="status.description"
                      [ngClass]="{
                        'status-box__btn--new': req.requestStatus.orderBy === 1,
                        'status-box__btn--onWork':
                          req.requestStatus.orderBy === 2,
                        'status-box__btn--onWay':
                          req.requestStatus.orderBy === 3,
                        'status-box__btn--executed':
                          req.requestStatus.orderBy === 4,
                        'status-box__btn--incident':
                          req.requestStatus.orderBy === 5
                      }"
                    >
                    </button>
                  </div>
                  <span class="status-box__title">
                    {{ req.requestStatus.description }}
                  </span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div
    class="half-container half-container--right-part"
    [class.half-container--closed]="!complitedRequestsIsVisible"
  >
    <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScrollComplitedRequests()"
      [scrollWindow]="false"
    >
      <div class="orders-block">
        <h2
          class="block-title block-title--cursor"
          (click)="toggleComplitedRequests()"
          [class.block-title--link]="!complitedRequestsIsVisible"
        >
          Завершенные заказы
        </h2>
        <table class="app-table">
          <thead>
            <tr class="app-table__tr">
              <th class="app-table__th">Клиент</th>
              <th class="app-table__th" *ngIf="isAllFieldsVisible">Товар</th>
              <th class="app-table__th" *ngIf="isAllFieldsVisible">Поставщик</th>
              <th class="app-table__th">Перевозчик</th>
              <th class="app-table__th">Объем, тн</th>
              <th class="app-table__th" *ngIf="isAllFieldsVisible">Адрес доставки</th>
              <th class="app-table__th">Статус</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let req of completedRequests; let i = index">
              <tr
                class="app-table__tr"
                *ngIf="
                  i == 0 ||
                  req.deliveryStart != completedRequests[i - 1].deliveryStart
                "
              >
                <td align="center" colspan="8">
                  <strong> {{ req.deliveryStart | date: 'dd.MM.yyyy' }}</strong>
                </td>
              </tr>
              <tr
                class="app-table__tr app-table__tr--editable"
                (contextmenu)="
                  openContextMenu($event, req); $event.preventDefault()
                "
              >
                <td (click)="edit(req)" class="app-table__td">
                  {{ req.client?.name }}
                </td>
                <td (click)="edit(req)" class="app-table__td" *ngIf="isAllFieldsVisible">
                  {{ req.product?.name }}
                </td>
                <td (click)="edit(req)" class="app-table__td" *ngIf="isAllFieldsVisible">
                  {{ req.supplier?.name }}
                </td>
                <td (click)="edit(req)" class="app-table__td">
                  {{ req.car?.owner }}
                </td>
                <td (click)="edit(req)" class="app-table__td">
                  {{ req.amount | number: '1.0-2' }}
                </td>
                <td (click)="edit(req)" class="app-table__td" *ngIf="isAllFieldsVisible">
                  {{ req.deliveryAddress?.name }}
                </td>
                <td class="app-table__td">
                  <div class="status-box">
                    <button
                      class="status-box__btn"
                      *ngFor="let status of statuses"
                      (click)="onActualRequestStatusChange(req, status.id)"
                      [title]="status.description"
                      [ngClass]="{
                        'status-box__btn--new': req.requestStatus.orderBy === 1,
                        'status-box__btn--onWork':
                          req.requestStatus.orderBy === 2,
                        'status-box__btn--onWay':
                          req.requestStatus.orderBy === 3,
                        'status-box__btn--executed':
                          req.requestStatus.orderBy === 4,
                        'status-box__btn--incident':
                          req.requestStatus.orderBy === 5
                      }"
                    >
                    </button>
                  </div>
                  <span class="status-box__title">
                    {{ req.requestStatus.description }}
                  </span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ng-template #reqMenu let-req>
    <div class="requestContextMenu">
      <button class="requestContextMenu__btn" (click)="copy(req)">
        <img
          class="edit-btn__img"
          src="assets/img/icons/copy.svg"
          alt="изменить"
        />
        Дублировать
      </button>
      <button class="requestContextMenu__btn" (click)="edit(req)">
        <img
          class="edit-btn__img"
          src="assets/img/icons/edit.svg"
          alt="изменить"
        />
        Редактировать
      </button>
      <button (click)="confirm(req)" class="requestContextMenu__btn">
        <img
          class="edit-btn__img"
          src="assets/img/icons/delete.svg"
          alt="удалить"
        />
        Удалить
      </button>
      <button (click)="closeContextMenu()" class="requestContextMenu__btn">
        <img
          class="edit-btn__img"
          src="assets/img/icons/close.svg"
          alt="отмена"
        />
        Отмена
      </button>
    </div>
  </ng-template>
</div>
<app-request-editor (changed)="onModalChange()"></app-request-editor>
<app-modal-confirm (changed)="onModalChange()"></app-modal-confirm>
<app-modal-amount (changed)="onModalChange()"></app-modal-amount>
<app-confirm-complete-req-modal-amount
  (changed)="onModalChange()"
></app-confirm-complete-req-modal-amount>
