<ngx-smart-modal 
  #amountModal
  identifier="confirmCompleteReqModal" 
  (onOpen)="onOpen()" 
  (onAnyCloseEvent)="onClose()"
>
  <div class="form-container">
    <h2 class="form-title">Подтвердить завершение</h2>
    <div class="form-container">
      <div class="form-block">
        <label for="amount" class="form-block__label">
            Вывезенный объем, тн
        </label>
        <input 
            type="number"
            [(ngModel)]="request.amount" 
            id="amount"
            class="form-block__input"
        >
      </div>
    </div>
    <div class="confirm-modal-btns">
      <button 
        class="app-btn gray-btn apply-btn" 
        (click)="apply()"
      >
        Ок
      </button>
      <button 
        class="app-btn gray-btn" 
        (click)="close()"
      >
        Отмена
      </button>
    </div>
  </div>

</ngx-smart-modal>