<ngx-smart-modal 
  #amountModal
  identifier="confirmCompleteReqModal" 
  (onOpen)="onOpen()" 
  (onAnyCloseEvent)="onClose()"
>
  <div class="form-container">
    <h2 class="form-title">Подтвердить завершение</h2>
    <div class="form-container">
      <div class="form-block">
        <label for="amount" class="form-block__label">
            Вывезенный объем, тн
        </label>
        <input 
            type="number"
            [(ngModel)]="request.amount" 
            id="amount"
            class="form-block__input"
        >
      </div>
    </div>
    <div *ngIf="isSupplierEmpty" class="form-block">
      <label for="supplier" class="form-block__label"> Поставщик </label>
      <select
        class="form-block__input"
        [(ngModel)]="request.supplier"
        id="exampleFormControlSelect1"
        [compareWith]="byId"
      >
        <option [ngValue]="undefined"></option>
        <option *ngFor="let supplier of suppliers" [ngValue]="supplier">
          {{ supplier.name }}
        </option>
      </select>
      <button class="add-entity-btn" (click)="addSupplier()">
        <img
          src="assets/img/icons/add.svg"
          class="add-entity-btn__icon"
          alt="добавить поставщика"
        />
      </button>
    </div>
    <div *ngIf="isCarOwnerEmpty" class="form-block">
      <label for="carOwner" class="form-block__label"> Перевозчик </label>
      <select
        class="form-block__input"
        id="carOwner"
        [(ngModel)]="request.car"
        [compareWith]="byId"
      >
        <option [ngValue]="undefined"></option>
        <option *ngFor="let car of cars" [ngValue]="car">
          {{ car.owner }}
        </option>
      </select>
      <button class="add-entity-btn" (click)="addCarOwner()">
        <img
          src="assets/img/icons/add.svg"
          class="add-entity-btn__icon"
          alt="добавить перевозчика"
        />
      </button>
    </div>
    <div class="confirm-modal-btns">
      <button 
        class="app-btn gray-btn apply-btn" 
        (click)="apply()"
      >
        Ок
      </button>
      <button 
        class="app-btn gray-btn" 
        (click)="close()"
      >
        Отмена
      </button>
    </div>
  </div>

</ngx-smart-modal>
<app-car-editor (changed)="onCarOwnerAdd($event)"></app-car-editor>
<app-supplier-editor (changed)="onSupplierAdd($event)"></app-supplier-editor>