<ngx-smart-modal
  #amountModal
  identifier="amountModal"
  [dismissable]="false"
  (onOpen)="onOpen()"
  (onAnyCloseEvent)="onClose()"
>
  <div class="form-container">
    <h2 class="form-title">Разделить объем</h2>
    <div class="form-container">
      <div class="form-block">
        <label for="deliveryStart" class="form-block__label"> Дата </label>
        <input
          type="date"
          name="deliveryStart"
          id="deliveryStart"
          [ngModel]="request.deliveryStart | date: 'yyyy-MM-dd'"
          (ngModelChange)="request.deliveryStart = $event"
          min="1000-01-01"
          max="3000-12-31"
          class="form-block__input date-input"
        />
        <button class="add-entity-btn" (click)="resetDate('start')">
          <img
            src="assets/img/icons/refresh.svg"
            class="add-entity-btn__icon"
            alt="refresh"
          />
        </button>
      </div>
      <div class="form-block">
        <label for="carOwnerText" class="form-block__label"> Перевозчик </label>
        <input
          type="text"
          class="form-block__input"
          [(ngModel)]="carOwnerText"
          (keypress)="onSearch()"
          (click)="setFavoriteCars()"
          name="carOwnerText"
          id="carOwnerText"
        />
        <ul class="form-block__searching-list" *ngIf="carListVisible">
          <li
            *ngFor="let car of cars | carOwnerFilter: carOwnerText:'car.owner'"
            (click)="selectCarOwner(car)"
            class="form-block__searching-list-item"
          >
            {{ car.owner }}
          </li>
        </ul>
        <button class="add-entity-btn" (click)="addCarOwner()">
          <img
            src="assets/img/icons/add.svg"
            class="add-entity-btn__icon"
            alt="add"
          />
        </button>
      </div>
      <div class="form-block">
        <label for="amount" class="form-block__label"> Объем, тн </label>
        <input
          type="number"
          (click)="clearAmount()"
          [(ngModel)]="request.amount"
          id="amount"
          class="form-block__input"
        />
      </div>
    </div>
    <div class="confirm-modal-btns">
      <button class="app-btn gray-btn apply-btn" (click)="apply()"> Ок </button>
      <button class="app-btn gray-btn" (click)="onClose()"> Отмена </button>
    </div>
  </div>
</ngx-smart-modal>
<app-car-editor (changed)="onCarOwnerAdd($event)"></app-car-editor>
