<div class="app-container">
  <div class="app-row app-row--centered">
    <form 
      #form="ngForm" 
      (ngSubmit)="authenticate(form)"
      class="login-form"
    >
      <h2 class="login-form__title">
        Войти c учетной записью <br>Гранд Элемент
      </h2>
      <div 
        *ngIf="errorMessage" 
        class="alert alert-secondary" 
        role="alert"
      >
        {{errorMessage}}
      </div>

      <div class="form-block">
        <label for="username" class="form-block__label form-block__label--icon">
          <img 
            class="label-icon-img"
            src="{{nameIconSrc}}" 
            alt="Имя"
          >
        </label>
        <input 
          type="text" 
          [(ngModel)]="username" 
          class="form-block__input form-block__input--login"
          name="username"
          id="username"
          placeholder="Имя пользователя" 
          required 
          autofocus
        >
      </div>

      <div class="form-block">
        <label for="password" class="form-block__label form-block__label--icon">
          <img 
            class="label-icon-img"
            src="{{passwordIconSrc}}" 
            alt="Пароль"
          >
        </label>
        <input 
          type="password" 
          [(ngModel)]="password" 
          class="form-block__input form-block__input--login"
          name="password"
          id="password"
          placeholder="Пароль" 
          required
        >
      </div>

      <div class="login-form__btns">
        <button 
          type="submit" 
          class="app-btn gray-btn" 
        >
          Вход
        </button>
      </div>
    </form>
</div>