<ngx-smart-modal 
  #editCarModal 
  identifier="editCarModal" 
  (onOpen)="onOpen()" 
  (onAnyCloseEvent)="onClose()"
>
  <div class="form-container">
    <h2 class="form-title">Редактор</h2>

    <div class="form-block">
      <label for="owner" class="form-block__label">
        Собственник
      </label>
      <input 
        type="text" 
        [(ngModel)]="car.owner" 
        class="form-block__input"
        name="owner"
        id="owner"
      >
    </div>

    <div class="form-block">
      <label for="nds" class="form-block__label">
        НДС
      </label>
      <input 
        type="checkbox" 
        [(ngModel)]="car.vat"
        class="form-block__input"
        name="nds"
        id="nds"
      >
    </div>

    <div class="form-block">
      <label for="contacts" class="form-block__label">
        Контакты
      </label>
      <input 
        type="text" 
        [(ngModel)]="car.contacts" 
        class="form-block__input"
        name="contacts"
        id="contacts"
      >
    </div>
    <div *ngFor="let carNumber of car.carNumbers" class="form-block-adding-block form-block-adding-block--icons">
      <div class="form-block">
        <label for="car-number" class="form-block__label">
          Гос.номер
        </label>
        <input 
          type="string" 
          [(ngModel)]="carNumber.name" 
          class="form-block__input"
          name="car-number"
          id="car-number"
        >
      </div>
      <button 
        (click)="delCarNumber(carNumber.id)"
        class="delete-btn form-block-adding-block__adding-btn"
        title="удалить"
      >
        <img
          class="edit-btn__img btn-icon"
          src="assets/img/icons/delete.svg"
          alt="удалить"
        />
      </button>
    </div>
    <button 
      (click)="addCarNumber()"
      class="app-btn gray-btn" 
    >
      Добавить гос.номер
    </button>

    <div class="additional-btn-container">
      <button 
        type="submit" 
        class="app-btn gray-btn" 
        (click)="createOrUpdate(car)"
      >
        Сохранить
      </button>
    </div>
  </div>
</ngx-smart-modal>