<div class="app-container">
  <div class="app-row">
    <div class="catalogs-adding-block">
      <button type="submit" (click)="add()" class="app-btn gray-btn catalogs-adding-block__btn">
        Добавить
      </button>
      <small class="catalogs-adding-block__text">
        Если не нашли нужного поставщика, то добавьте его.
      </small>
    </div>
  </div>
  <div class="app-row">
    <div class="">
      <h2>Поставщики</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Рабочее наименование</th>
            <th>Юр.лицо</th>
            <th>НДС включен</th>
            <th>Местоположение</th>
            <th>Номенклатура</th>
          </tr>

        </thead>
        <tbody>
          <ng-container *ngFor="let supplier of suppliers">
            <tr>
              <td><i (click)="edit(supplier)" class="fa fa-edit" aria-hidden="true"></i><i class="fa fa-trash"
                  (click)="deleteSupplier(supplier.id)" aria-hidden="true"></i></td>
              <td>{{supplier.name}}</td>
              <td>{{supplier.legalEntity}}</td>
              <td> <input disabled type="checkbox" [ngModel]="supplier.vat"></td>
              <td>{{supplier.address}}</td>
              <td> <span *ngFor="let prod of supplier.products"><i>{{prod.name}} <b
                      *ngIf="prod.price">({{prod.price}}р)</b>
                  </i><br></span></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-supplier-editor (changed)="getData()"></app-supplier-editor>