<div class="container">
  <div class="row mt-5">
    <div class="col-5">
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Добавить</button>
        <small class="form-text text-muted">Если не нашли нужнуй товар, то добавьте его.</small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <h2>Товары</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Название</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let product of products">
            <tr>
              <td><i class="fa fa-edit " aria-hidden="true"></i></td>
              <td>{{product.name}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-add-supplier></app-add-supplier>