<div class="app-container">
  <div class="app-row">
    <div class="catalogs-adding-block">
      <button 
          type="submit"
          (click)="add()"
          class="app-btn gray-btn catalogs-adding-block__btn"
      >
        Добавить
      </button>
      <p class="catalogs-adding-block__text">
        Если не нашли нужнуй товар, то добавьте его.
      </p>
    </div>
  </div>
  <div class="app-row">
    <h2 class="block-title">Товары</h2>
    <div class="table-container">
      <table class="app-table">
        <thead>
          <tr class="app-table__tr">
            <th class="app-table__th"></th>
            <th class="app-table__th">Название</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let product of products">
            <tr class="app-table__tr">
              <td class="text-center app-table__td">
                <i class="fa fa-edit mr-2" (click)="edit(product)" aria-hidden="true"></i>
                <i class="fa fa-trash" (click)="deleteProduct(product)" aria-hidden="true"></i></td>
              <td class="app-table__td">{{product.name}}</td>
            </tr>
            </ng-container>
          </tbody>
        </table>
    </div>
    </div>
  </div>
<app-edit-product (changed)="getData()"></app-edit-product>