<ngx-smart-modal #editCarCategoryModal identifier="editCarCategoryModal" (onOpen)="onOpen()"
  (onAnyCloseEvent)="onClose()">
  <div (keyup.enter)="createOrUpdate(carCategory)">
    <h1>Редактор</h1>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">
          <div class="label">Категория</div>
        </span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="carCategory.name" aria-label="Small"
        aria-describedby="inputGroup-sizing-sm">
    </div>
    <button type="submit" class="btn btn-primary" (click)="createOrUpdate(carCategory)">Сохранить</button>
  </div>
</ngx-smart-modal>