.catalogs-adding-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.catalogs-adding-block__text {
  font-size: 14px;
  line-height: 18px;
}
.catalogs-adding-block__btn {
  max-width: 150px;
  margin-bottom: 12px;
}
.table-container {
  overflow-x: scroll;
  width: 100%;
}
.app-table__nds-checkbox {
  height: 18px;
  width: 18px;
  border: 1px solid #dee2e6;
  border-radius: 2px;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  background: #dee2e6;
  position: relative;
}
.app-table__nds-checkbox:checked::after {
  text-align: center;
  content: '✔';
  font-size: 12px;
  width: 100%;
  height: 100%;
  position: absolute;
}
