<div class="app-container">
  <div class="app-row">
    <div class="catalogs-adding-block">
      <button 
          type="submit"
          (click)="add()"
          class="app-btn gray-btn catalogs-adding-block__btn"
      >
        Добавить
      </button>
      <p class="catalogs-adding-block__text">
        Если не нашли нужную категорию, то добавьте ее.
      </p>
    </div>
  </div>
  <div class="app-row">
    <h2 class="block-title">Категории машин</h2>
    <div class="table-container">
      <table class="app-table">
        <thead>
          <tr class="app-table__tr">
            <th class="app-table__th">Название категории</th>
            <th class="app-table__th"></th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories" class="app-table__tr">
              <td class="app-table__td">{{category.name}}</td>
              <td class="app-table__td">
                <div class="btn-container btn-container--centered">
                  <button
                    (click)="edit(category)"
                    class="edit-btn"
                  >
                    <img 
                      class="edit-btn__img"
                      src="assets/img/icons/edit.svg" 
                      alt="изменить"
                    >
                  </button>
                  <button
                    (click)="delete(category)" 
                    class="delete-btn"
                  >
                    <img 
                      class="edit-btn__img"
                      src="assets/img/icons/delete.svg" 
                      alt="удалить"
                    >
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
<app-edit-car-category (changed)="getData()"></app-edit-car-category>