<div class="app-container">
  <div class="app-row">
    <div class="col-5">
      <div class="catalogs-adding-block">
        <button type="submit" (click)="add()" class="app-btn gray-btn catalogs-adding-block__btn">
          Добавить
        </button>
        <small class="catalogs-adding-block__text">
          Если не нашли перевозчика, добавьте его.
        </small>
      </div>
    </div>
  </div>
  <div class="app-row">
    <div class="col-12">
      <h2>Перевозчики</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Собственник</th>
            <th>Категория авто</th>
            <th>Цена перевозки</th>
            <th>Контакты</th>
            <th>Комментарий(гос.номер)</th>
          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let car of cars">
            <td class="text-center">
              <i class="fa fa-edit mr-2" (click)="update(car)" aria-hidden="true"></i>
              <i class="fa fa-trash" (click)="delete(car)" aria-hidden="true"></i>
            </td>
            <td>{{car.owner}}</td>
            <td>{{car.carCategory?.name}}</td>
            <td>{{car.freightPrice}}</td>
            <td>{{car.contacts}}</td>
            <td>{{car.comments}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-car-editor (changed)="getData()"></app-car-editor>