<ngx-smart-modal 
  #editSupplierModal 
  identifier="editSupplierModal" 
  (onOpen)="onOpen()" 
  (onAnyCloseEvent)="onClose()"
>
  <div class="form-container">
    <h2 class="form-title">Редактор</h2>

    <div class="form-block">
      <label for="work-name" class="form-block__label">
        Рабочее наименование
      </label>
      <input 
        type="text" 
        [(ngModel)]="supplier.name" 
        class="form-block__input"
        name="work-name"
        id="work-name"
      >
    </div>

    <div class="form-block">
      <label for="entity" class="form-block__label">
        Юридическое лицо
      </label>
      <input 
        type="text" 
        [(ngModel)]="supplier.legalEntity"
        class="form-block__input"
        name="entity"
        id="entity"
      >
    </div>

    <div class="form-block">
      <label for="nds-value" class="form-block__label">
        НДС
      </label>
      <input 
        type="checkbox" 
        [(ngModel)]="supplier.vat"
        class="form-block__input"
        name="nds-value"
        id="nds-value"
      >
    </div>

    <div class="form-block">
      <label for="address" class="form-block__label">
        Местоположение
      </label>
      <input 
        type="text" 
        [(ngModel)]="supplier.address"
        class="form-block__input"
        name="address"
        id="address"
      >
    </div>


    <div *ngFor="let prod of supplier.products" class="form-block-adding-block">
      
      <div class="form-block">
        <label for="selectCarCategory" class="form-block__label">
          Товар
        </label>
        <select 
          class="form-block__select"
          id="selectCarCategory" 
          [(ngModel)]="prod.id"
        >
          <option [ngValue]="undefined"></option>
          <option 
            *ngFor="let opt of products" 
            [ngValue]="opt.id"
          >
            {{opt.name}}
          </option>
        </select>
      </div>
  
      <div class="form-block">
        <label for="prod-price" class="form-block__label">
          Цена
        </label>
        <input 
          type="number" 
          [(ngModel)]="prod.price" 
          class="form-block__input"
          name="prod-price"
          id="prod-price"
        >
      </div>

      <button 
        (click)="delProd(supplier, prod)"
        class="app-btn gray-btn"
      >
        Удалить
      </button>
    </div>
    <button 
      (click)="addProd()"
      class="app-btn gray-btn" 
    >
      Добавить товар
    </button>
    <div class="additional-btn-container" >
      <button 
        class="app-btn gray-btn" 
        (click)="createOrUpdate(supplier)"
      >
        Сохранить
      </button>
    </div>
  </div>

</ngx-smart-modal>