<ngx-smart-modal 
  #editProductModal 
  identifier="editProductModal" 
  (onOpen)="onOpen()" 
  (onAnyCloseEvent)="onClose()"
>
  <div class="form-container">
    <h2 class="form-title">Редактор</h2>

    <div class="form-block">
      <label for="name" class="form-block__label form-block__label--autoWidth">
        Товар
      </label>
      <input 
        type="text" 
        [(ngModel)]="product.name" 
        class="form-block__input"
        name="name"
        id="name"
      >
    </div>
    <button 
      type="submit" 
      class="app-btn gray-btn" 
      (click)="createOrUpdate(product)"
    >
      Сохранить
    </button>
  </div>
</ngx-smart-modal>