<ngx-smart-modal #editProductModal identifier="editProductModal" (onOpen)="onOpen()" (onAnyCloseEvent)="onClose()">
  <div (keyup.enter)="edit(product)">
    <h1>Редактор</h1>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">
          <div class="label">Товар</div>
        </span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="product.name" aria-label="Small"
        aria-describedby="inputGroup-sizing-sm">
    </div>
    <button type="submit" class="btn btn-primary" (click)="edit(product)">Сохранить</button>
  </div>
</ngx-smart-modal>