<ngx-smart-modal 
  #confirmModal
  identifier="confirmModal" 
  (onOpen)="onOpen()" 
  (onAnyCloseEvent)="onClose()"
>
  <div class="form-container">
    <h2 class="form-title">{{modalTitle}}</h2>

    <div class="footer-modal-btns">
      <button 
        class="app-btn {{modalBtnActionColor}}-btn footer-modal-btns__first-btn" 
        (click)="modalAction()"
      >
        {{modalActionTitle}}
      </button>
      <button 
        class="app-btn gray-btn" 
        (click)="onClose()"
      >
        Отмена
      </button>
    </div>
  </div>

</ngx-smart-modal>