<div class="app-container">
  <div class="app-row">
    <div class="col-5">
      <div class="catalogs-adding-block">
        <button type="submit" (click)="addClient()" class="app-btn gray-btn catalogs-adding-block__btn">
          Добавить
        </button>
        <small class="catalogs-adding-block__text">
          Если не нашли нужного клиента, то добавьте его.
        </small>
      </div>
    </div>
  </div>
  <div class="app-row">
    <h2 class="block-title">Клиенты</h2>
    <table class="app-table">
      <thead>
        <tr class="app-table__tr">
          <th class="app-table__th"></th>
          <th class="app-table__th">Название</th>
          <th class="app-table__th">Адреса</th>
          <th class="app-table__th">Контакты</th>
        </tr>

      </thead>
        <tbody>
          <ng-container *ngFor="let client of clients">
            <ng-container *ngFor="let addr of client.addresses; let addrIndx = index">
              <tr>
                <td class="text-center">
                  <i *ngIf="addrIndx==0" class="fa fa-edit mr-2" aria-hidden="true" (click)="edit(client)"></i>
                  <i *ngIf="addrIndx==0" class="fa fa-trash" (click)="delete(client)" aria-hidden="true"></i></td>
                <td>{{client?.name}}</td>
                <td>{{addr.name}}</td>
                <td><i *ngFor="let contact of addr.contacts">{{contact.name}} {{contact.communication }} <br></i>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
<app-client-editor (changed)="getData()"></app-client-editor>